main {
    border: gray 1px solid;
    border-radius: 2%;
    margin-top: 2%;
}

* {
    justify-content: center;
    text-align: center;
    align-items: center;
}

ul {
   list-style-type: none; 
}

li {
    padding: 15px;
}

/* .dark {
    background-color: #e0e1dd;
}

.rain {
    background-color: #118ab2;
}

.perfect {
    background-color: #ffd166;
} */