.gameContainer {
    background-color: #EAEAEA;
    height: 600px;
    width: 1100px;
    position: absolute; 
}

#night {
    background-color: black;
    height: 600px;
    width: 1100px;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

#player {
    background-color: blue;
    background-image: linear-gradient(blue, darkBlue);
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 20px;
    left: 550px;
    top: 300px;
    z-index: 1;
    box-shadow: 2px 2px;
}

.manager {
    background-image: linear-gradient(coral, maroon);
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 20px;
    left: 40px;
    top: 70px;
    box-shadow: 3px 3px;
    z-index: 1;
}

.treadmill {
    width: 37px;
    height: 100px;
    position: absolute;
    background-color: black;
    top: 100px;
    left: 170px;
}

.treadText {
    color: gray;
    transform: translate(-12px, -30px);
}

.stretchMat {
    background-color: rgba(100, 148, 237, 0.438);
    width: 200px;
    height: 200px;
    color: gray;
    left: 400px;
    top: 50px;
    position: absolute;
    border-radius: 20px;
}

.stretchText {
    transform: translate(40px, -30px);
}

.weightArea {
    background-color: rgba(173, 216, 230, 0.475);
    height: 300px;
    width: 400px;
    position: absolute;
    top: 100px;
    left: 660px;
    border-radius: 9px;
    color: gray;
}

.weightText {
    transform: translate(170px, -30px);
}

.leftWeightCircle {
    height: 20px;
    width: 20px;
    background-image: linear-gradient(grey, rgb(90, 90, 90));
    float: left;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 4px 4px black;
    
}

.rightWeightCircle {
    height: 20px;
    width: 20px;
    background-image: linear-gradient(grey, rgb(90, 90, 90));
    float: right;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 4px 4px black;
}

.fullStop {
    color: lightblue;
}

.bigCircle {
    height: 40px;
    width: 40px;
}

.boxRing {
    background-color: rgba(160, 17, 17, 0.671);
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 10px;
    left: 30px;
    top: 270px;
    box-shadow: 6px 6px;
}

.boxText {
   color: gray; 
   transform: translate(110px, -30px);
}

.managerText {
    color: gray; 
    transform: translate(-15px, -30px);
}

.vendingMachine {
    background-image: linear-gradient(rgb(75, 37, 163), rgb(138, 32, 129));
    height: 100px;
    width: 30px;
    position: absolute;
    left: 1060px;
    top: 470px;
    box-shadow: 4px 4px;
}

.vendingText {
    color: gray;
    transform: translate(-25px, -50px);
}

#bedArea {
    position: absolute;
    left: 490px;
    top: 400px;
    border-color: burlywood;
    box-shadow: 10px 10px rgb(44, 44, 44);
    border-radius: 10px;
    background-color: rgb(65, 167, 167);

}

#bed {
    background-image: linear-gradient(white, beige);
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

#covers {
    height: 140px;
    width: 80px;
    background-image: repeating-linear-gradient(rgb(65, 167, 167), rgb(14, 120, 161));
    border-radius: 10px;
}

#bedText {
    color: grey;
    transform: translate(25px, -30px);
}

.messageBox {
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 610px;
}

.opponent {
    background-image: linear-gradient(rgb(28, 182, 22), rgb(63, 139, 0));
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 20px;
    left: 170px;
    top: 390px;
    z-index: 1;
    box-shadow: 2px 2px;
}